In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LogisticRegression

In [2]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
income_data = pd.read_csv("income.csv")

In [4]:
data = income_data.copy(deep=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31978 entries, 0 to 31977
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            31978 non-null  int64
 1   JobType        31978 non-null  object
 2   EdType         31978 non-null  object
 3   maritalstatus  31978 non-null  object
 4   occupation     31978 non-null  object
 5   relationship   31978 non-null  object
 6   race           31978 non-null  object
 7   gender         31978 non-null  object
 8   capitalgain    31978 non-null  int64
 9   capitalloss    31978 non-null  int64
 10  hoursperweek   31978 non-null  int64
 11  nativecountry  31978 non-null  object
 12  SalStat        31978 non-null  object
dtypes: int64(4), object(9)
memory usage: 3.2+ MB

In [6]:
data.isnull()

,age,JobType,EdType,maritalstatus,occupation,relationship,race,gender,capitalgain,capitalloss,hoursperweek,nativecountry,SalStat
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31973,False,False,False,False,False,False,False,False,False,False,False,False,False
31974,False,False,False,False,False,False,False,False,False,False,False,False,False
31975,False,False,False,False,False,False,False,False,False,False,False,False,False
31976,False,False,False,False,False,False,False,False,False,False,False,False,False
31977,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
data.isnull().sum()

age              0
JobType          0
EdType           0
maritalstatus    0
occupation       0
relationship     0
race             0
gender           0
capitalgain      0
capitalloss      0
hoursperweek     0
nativecountry    0
SalStat          0
dtype: int64

In [8]:
summery_num = data.describe()

In [9]:
print(summery_num)

                age   capitalgain   capitalloss  hoursperweek
count  31978.000000  31978.000000  31978.000000  31978.000000
mean      38.579023   1064.360623     86.739352     40.417850
std       13.662085   7298.596271    401.594301     12.345285
min       17.000000      0.000000      0.000000      1.000000
25%       28.000000      0.000000      0.000000     40.000000
50%       37.000000      0.000000      0.000000     40.000000
75%       48.000000      0.000000      0.000000     45.000000
max       90.000000  99999.000000   4356.000000     99.000000

In [10]:
summery_cate = data.describe(include="O")
print(summery_cate)

         JobType    EdType        maritalstatus       occupation relationship  \
count      31978     31978                31978            31978        31978
unique         9        16                    7               15            6
top      Private   HS-grad   Married-civ-spouse   Prof-specialty      Husband
freq       22286     10368                14692             4038        12947

          race gender   nativecountry                        SalStat
count    31978  31978           31978                          31978
unique       5      2              41                              2
top      White   Male   United-States   less than or equal to 50,000
freq     27430  21370           29170                          24283

In [11]:
data["JobType"].value_counts()

 Private             22286
 Self-emp-not-inc     2499
 Local-gov            2067
 ?                    1809
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
 Never-worked            7
Name: JobType, dtype: int64

In [12]:
data["occupation"].value_counts()

 Prof-specialty       4038
 Craft-repair         4030
 Exec-managerial      3992
 Adm-clerical         3721
 Sales                3584
 Other-service        3212
 Machine-op-inspct    1966
 ?                    1816
 Transport-moving     1572
 Handlers-cleaners    1350
 Farming-fishing       989
 Tech-support          912
 Protective-serv       644
 Priv-house-serv       143
 Armed-Forces            9
Name: occupation, dtype: int64

In [13]:
np.unique(data['JobType'])

array([' ?', ' Federal-gov', ' Local-gov', ' Never-worked', ' Private',
       ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay'],
      dtype=object)

In [14]:
np.unique(data['occupation'])

array([' ?', ' Adm-clerical', ' Armed-Forces', ' Craft-repair',
       ' Exec-managerial', ' Farming-fishing', ' Handlers-cleaners',
       ' Machine-op-inspct', ' Other-service', ' Priv-house-serv',
       ' Prof-specialty', ' Protective-serv', ' Sales', ' Tech-support',
       ' Transport-moving'], dtype=object)

In [15]:
data = pd.read_csv('income.csv', na_values=([' ?']))

In [17]:
np.unique(data['JobType'])

TypeError: '<' not supported between instances of 'float' and 'str'

In [18]:
data.isnull().sum()

age                 0
JobType          1809
EdType              0
maritalstatus       0
occupation       1816
relationship        0
race                0
gender              0
capitalgain         0
capitalloss         0
hoursperweek        0
nativecountry       0
SalStat             0
dtype: int64

In [19]:
missing = data[data.isnull().any(axis=1)]

In [20]:
print(missing)

       age JobType         EdType        maritalstatus occupation  \
8       17     NaN           11th        Never-married        NaN
17      32     NaN   Some-college   Married-civ-spouse        NaN
29      22     NaN   Some-college        Never-married        NaN
42      52     NaN           12th        Never-married        NaN
44      63     NaN        1st-4th   Married-civ-spouse        NaN
...    ...     ...            ...                  ...        ...
31892   59     NaN      Bachelors   Married-civ-spouse        NaN
31934   20     NaN        HS-grad        Never-married        NaN
31945   28     NaN   Some-college   Married-civ-spouse        NaN
31967   80     NaN        HS-grad              Widowed        NaN
31968   17     NaN           11th        Never-married        NaN

          relationship    race   gender  capitalgain  capitalloss  \
8            Own-child   White   Female            0            0
17             Husband   White     Male            0            0
29           Own-child   White     Male            0            0
42      Other-relative   Black     Male          594            0
44             Husband   White     Male            0            0
...                ...     ...      ...          ...          ...
31892          Husband   White     Male            0            0
31934   Other-relative   White   Female            0            0
31945             Wife   White   Female            0         1887
31967    Not-in-family   White     Male            0            0
31968        Own-child   White     Male            0            0

       hoursperweek   nativecountry                        SalStat
8                 5   United-States   less than or equal to 50,000
17               40   United-States   less than or equal to 50,000
29               40   United-States   less than or equal to 50,000
42               40   United-States   less than or equal to 50,000
44               35   United-States   less than or equal to 50,000
...             ...             ...                            ...
31892            40   United-States            greater than 50,000
31934            35   United-States   less than or equal to 50,000
31945            40   United-States            greater than 50,000
31967            24   United-States   less than or equal to 50,000
31968            40   United-States   less than or equal to 50,000

[1816 rows x 13 columns]